body {
  font-size: 20px;
  font-family: Montserrat;
}

.clickableSpan {
  color: #0000FF;
  cursor: pointer;
}

.clickableSpan:active {
  color: #000099;
	position:relative;
	top:1px;
}

.errorMsg {
  color: rgb(204, 0, 0);
  font-size: 15px;
  margin: 0px;
}

.tictactoeCell {
  border: 1px solid black;
  text-align: center;
  width: 50px;
  height: 50px;
}

#lobbyCodeInput {
  font-family: Montserrat;
  border: 0;
  border-bottom: 1px #0000FF solid;
  display:inline-block;
  outline:0;
  font-size:20px;
  color: #888;
}

#loadingAnimation {
  border: 4px solid #ebebeb;
  border-top: 4px solid #5858ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}