@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto Mono;
  src: url(./fonts/Roboto_Mono/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: Roboto Mono;
  src: url(./fonts/Roboto_Mono/RobotoMono-Light.ttf);
  font-weight: 300;
}


body {
  font-size: 20px;
  font-family: Montserrat;
}

.clickableSpan {
  color: #0562b8;
  cursor: pointer;
  user-select: none;
}

.clickableSpan:active {
  color: rgb(13, 82, 146);
	position:relative;
	top:1px;
}

.errorMsg {
  color: rgb(204, 0, 0);
  font-size: 15px;
  margin: 0px;
  padding:0px;
  animation: errorFlash 1.5s;
}

.tictactoeCell {
  text-align: center;
  font-size: 6vw;
  width: 10vw;
  height: 10vw;
}

#loadingAnimation {
  border: 0.5vw solid #ebebeb;
  border-top: 0.5vw solid #1B78CF;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  animation: spin 2s linear infinite;
}

#lobbyURL {
  font-size: 1vw;
  font-family: Roboto Mono;
  text-align: center;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(220,220,220);
  border-radius: 2px;
  font-weight: 300;
  vertical-align: middle;
}

#lobbyURLButton {
  vertical-align: middle;
  text-align: center;
  font-size: 1vw;
  background-color:#1B78CF;
  border: 1px solid rgb(220,220,220);
  border-radius: 2px;
  color: #E8F2FA;
  cursor: pointer;
  box-shadow: 1px 1px 5px #bdbdbd;
  display: inline-block;
  margin: 0px;
}

#lobbyURLButton:hover {
  box-shadow: 1px 1px 7px #bdbdbd;
  background-color:#308ce1;
  display: inline-block;
  margin: 0px;
}

@keyframes flash {
  from {color: grey;}
  to {color: black;}
}

@keyframes blackToGreen {
  from {color: black;}
  to {color: green;}
}

@keyframes errorFlash {
  from {color: white;}
  to {color: rgb(204, 0, 0);}
}

@keyframes blackToRed {
  from {color: black;}
  to {color: red;}
}

@keyframes fontBounce {
  0%   {font-size: 6vw;}
  50%  {font-size: 5.5vw;}
  100% {font-size: 6vw;}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}